@media (orientation: portrait) {
  body {
    background-color: red;
  }
  h1{
    color: white;
    font-size: 30px;
    content: "Modo Vertical";}
}
h1::after{
        content: "Modo Horizontal";
}
@media (orientation: landscape) {
  body {
    background-color: blue;
  }
  h1{
    color: white;
    font-size: 30px;}
}
h1::after{
        content: "Modo Horizontal";
}